.navbar {
    background-color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid grey;
}





.navbar-brand {
    font-family: Jost, Arial, sans-serif;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 1px;
    margin-left: 70px;
    color: black;
}

.navbar-nav {
    margin-left: 340px;
}

.navbar-nav li a {
    font-size: 14px;
    font-weight: bolder;
    color: #111111;
    justify-content: space-between;
}

.show {
    color: green;
}

.navbar-nav li a:hover {
    color: #FF6F61;
}

.icons {
    margin-right: 140px;
}

.icons ul li {
    margin-right: 9px;
}

.icons .navbar-nav li a i {
    font-size: 16px;
}

.navbar-toggler {
    color: red;
}

.navbar-toggler {
    color: white;
}

.togicon {
    height: 27px;
}

.chairbg {
    background-image: url(images/home9-slider-1.jpg);
    height: 730px;
    width: 100%;
}

.btn {
    height: 210px;
    width: 440px;
    margin-left: 90px;
    margin-top: 290px;
    background-color: white;
    color: black;
    font-size: 35px;
    font-weight: 500;
    text-align: justify left;
    z-index: 1;
}

.shop {
    margin-top: 30px;
    margin-right: 170px;
    font-size: 15px;
}

.position-absolute {
    background-color: #FF6F61;
    color: white;
    /* height: 65px; */
    width: 110px;
    font-size: 29px;
}

.ltd {
    text-align: center;
    font-weight: 600;
}

.p1 {
    font-family: jost, sans-serif;
    ;
    text-align: center;
    margin-top: 25px;
    color: #525252;
}

.col1 {
    background-image: url(images/home9-product-1.jpg);
    height: 400px;
    width: 343px;
    background-size: cover;
}

.wbox {
    height: 86px;
    width: 275px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    margin-left: 44px;
    margin-top: 340px;
    padding-top: 16px;
}

/* .wbox2 {
    height: 86px;
    width: 275px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    margin-left: 44px;
    margin-top: 430px;
    padding-top: 16px;
} */


.price {
    display: flex;
    margin-left: 80px;
}

.rate1 {
    color: #A6A6AC;
    font-weight: 700;
    text-decoration: line-through;
}

.rate2 {
    margin-left: 10px;
    color: #FF6F6B;
    font-weight: 700;
}

.rate1,
.rate2 {
    font-size: 15px;
}

.col2 {
    background-image: url(images/home9-product-2.jpg);
    height: 400px;
    width: 343px;
    background-size: cover;
    margin-left: 17px;
}

.col3 {
    background-image: url(images/home9-product-3.jpg);
    height: 400px;
    width: 370px;
    background-size: cover;
    margin-left: 12px;
    margin-top: 5%;
}

.col1 ul {
    list-style-type: none;
    margin-left: 270px;
    margin-top: 42px;
    visibility: hidden;
    transition-delay: 300ms;
    transform: translate(10px, 0);
}

.col2 ul {
    list-style-type: none;
    margin-left: 270px;
    margin-top: 42px;
    visibility: hidden;
    transition-delay: 300ms;
    transform: translate(10px, 0);
}

.col3 ul {
    list-style-type: none;
    margin-left: 270px;
    margin-top: 42px;
    visibility: hidden;
    transition-delay: 300ms;
    transform: translate(10px, 0);
}

.col1:hover ul {
    visibility: visible;
}

.col2:hover ul {
    visibility: visible;
}

.col3:hover ul {
    visibility: visible;
}

#bag:hover {
    background-color: #FF6F61;
}

.col1 ul li {
    margin-top: 11px;
}

.col2 ul li {
    margin-top: 11px;
}

.col3 ul li {
    margin-top: 11px;
}

#bag {
    border-radius: 50%;
    height: 36px;
    width: 34px;
    text-align: center;
    padding-top: 7.5px;
    background-color: white;
    transition: 300ms;
    margin-right: 90px;
}

.align-items-center {
    margin-top: 80px;
}

.ban1 {
    background-image: url(images/home9-imgbox-1.jpg);
    height: 750px;
    width: 400px;
    background-size: 690px;
    background-position: center;
    margin-left: 70px;
}

.img1 {
    height: 300px;
    width: 340px;
    border: 1px #F5F5F5;
    box-shadow: 0px 4px 18px -12px rgb(0 0 0 / 75%);
    margin-bottom: 60px;
}

.img2 {
    height: 300px;
    width: 340px;
    border: 1px #F5F5F5;
    box-shadow: 0px 4px 18px -12px rgb(0 0 0 / 75%);
}

.img3 {
    height: 300px;
    width: 340px;
    border: 1px #F5F5F5;
    box-shadow: 0px 4px 18px -12px rgb(0 0 0 / 75%);
    margin-bottom: 60px;
}

.img4 {
    height: 300px;
    width: 340px;
    border: 1px #F5F5F5;
    box-shadow: 0px 4px 18px -12px rgb(0 0 0 / 75%);
}

.hchair {
    height: 170px;
    width: 268px;
    margin-left: 30px;
}

.off {
    font-size: 25px;
    text-align: center;
}

.ratex {
    text-align: center;
    color: #767676;
    font-size: 18px;
}

.stretch {
    background-image: url(images/home9-banner-1.jpg
);
    height: 370px;
    width: 100%;
    background-size: cover;
}

.extra,
.discount,
.best {
    color: white;
    text-align: center;
    ;
}

.extra {
    font-size: 15px;
    padding-top: 150px;
}

.discount {
    font-size: 70px;
}

.sellers {
    text-align: center;
}

.sofa {
    position: relative;

}

.sofa1 {
    height: 309px;
    width: 253px;
}

.sofa2 {
    position: absolute;
    height: 309px;
    width: 253px;
    right: 14px;
    visibility: hidden;

}

.sofa:hover .sofa2 {
    transition: 3s;
    visibility: visible;
}

.cart {
    position: absolute;
    height: 40px;
    width: 249px;
    background-color: #111111;
    color: white;
    text-align: center;
    top: 268px;
    padding-top: 10px;
    font-weight: 500;
    transform: translateY(1px);
    visibility: hidden;

}

.sofa:hover .cart {
    /* transition: 3s; */
    visibility: visible;
    z-index: 2;
    transform-origin: bottom;
}

.badge {
    position: absolute;
    background-color: #ff6f61;
    color: white;
    top: 25px;
    z-index: 2;
}

.sbag {
    height: 20px;
    margin-right: 8px;
}

.hrt {
    position: absolute;
    height: 32px;
    width: 34px;
    /* border-style: ridge; */
    border-radius: 50%;
    left: 220px;
    top: 25px;
    background-color: white;
    visibility: hidden;
    transition: 300ms;
}

#hrt {
    position: absolute;
    height: 20px;
    text-align: center;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 14px;
}

.vw {
    position: absolute;
    height: 32px;
    width: 34px;
    /* border-style: ridge; */
    border-radius: 50%;
    left: 220px;
    top: 65px;
    background-color: white;
    visibility: hidden;
    transition: 400ms;
}

.modal-content {
    width: 1300px;
}

.modal-dialog {
    margin-left: 30px;
}

.imgr {
    height: 490px;
    width: 440px;
    margin-left: 60px;
}

#vw {
    position: absolute;
    height: 20px;
    padding-left: 10px;
    padding-top: 7px;
}

.sofa:hover .hrt {
    visibility: visible;
    z-index: 1;

}

.hrt:hover {
    background-color: #FF6F61;
}

.vw:hover {
    background-color: #FF6F61;
}

.sofa:hover .vw {
    visibility: visible;
    z-index: 1;
}

.name1 {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

#price {
    text-align: center;
    color: #7A7676;
    font-weight: 500;
    line-height: 5px;
}

.room {
    text-align: center;
}

.card {
    height: 279px;
}

.img-fluid {
    height: 279px;
    width: 340px;
}

.subcat li {
    list-style-type: none;
    margin-top: 12px;
    color: #767676;
    font-family: sans-serif;
    font-size: 15px;
}

.newsletter {
    text-align: center;
}

.exclusive {
    text-align: center;
    color: #7A7676;
    font-size: 19px;
}

.input-group {
    width: 600px;
}

input[type=email]:focus {
    outline: none;
}

input[type=email] {
    border-top: none;
    border-right: none;
    border-left: none;
}

.btn2 {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
    border-bottom: 1px solid grey;
}

.footerbg {
    background-color: #1F1F1F;
    height: 420px;
    width: 100%;
    margin-top: 120px;
}

.footdiv {
    padding-top: 70px;
    border-bottom: 0px solid gray;

}

.brand {
    color: rgb(235, 218, 188);
    font-size: 35px;
}

#fb {
    color: #CDCDCD;
    font-size: 22px;
    margin-right: 9px;
    margin-top: 15px;
}

.supp {
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

.list li {
    color: #CDCDCD;
    list-style-type: none;
    margin-top: 12px;
}

.payment {
    margin-left: 900px;
    margin-top: 50px;
}

/* .breadcrumb{
    color: rebeccapurple ;
} */

.ban3 {
    background-image: url(images/about-us-banner.jpg);
    height: 423px;
    width: 1107px;
    margin-left: 130px;
}

.line1,
.line2 {
    text-align: center;
    color: white;
    font-size: 45px;
}

.line1 {
    padding-top: 110px;
}

.story {
    color: #767676;
    font-size: 14px;
    padding-top: 110px;
}

.store {
    font-size: 37px;
}

.p2 {
    font-size: 17px;
    color: #525768;
    line-height: 27px;
}

.rcol {
    padding-left: 20px;
}

.container {
    margin-right: 95px;
}

.fdbg {
    margin-top: 65px;
    background-color: #F5F5F5;
    height: 540px;
    width: 100%;
}

.demo {
    font-size: 35px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    padding-top: 75px;
}

.p3,
.p4 {
    font-size: 18px;
    color: #525276;
    margin-top: 50px;
}

.btn3 {
    background-color: #1F1F1F;
    color: white;
    margin-left: 450px;
    margin-top: 25px;
    font-size: 15px;
    width: 150px;
}

.pinkbg {
    background-color: #FF7062;
    height: 283px;
    width: 1114px;
    margin-left: 120px;
}

.p5 {
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 500;
    padding-top: 80px;
}

.conx {
    margin-top: 70px;
}

.imgx {
    /* padding-bottom: 150px; */
}

.colp {
    padding-top: 120px;
}

.colx {
    height: 400px;
}

.coly {
    height: 550px;
}

.say {
    text-align: center;
    color: #767676;
    font-size: 14px;
    font-weight: 700;
}

.review {
    text-align: center;
    font-size: 36px;
}

#carouselExampleIndicators {
    /* background-color: #FF6F61; */
    height: 190px;
    width: 900px;
    margin-left: 200px;
}

.carousel-item p {
    text-align: center;
    font-size: 25px;
}

.writer {
    text-align: center;
    font-size: 17px;
    color: #767676;
}

.pic1 {
    height: 140px;
    width: 140px;
    position: absolute;
}

.pic2 {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 4676px;

}

.cony {
    position: relative;
    margin-left: 93px;
}

.conz {
    margin-left: 93px;
}



/* ***********About Page Ends**************** */

.head {
    font-size: 15px;
    margin-right: 230px;
    color: #767676;
}

.gubi {
    font-size: 30px;
    margin-right: 180px;
}

.price2 {
    font-size: 22px;
    font-weight: 700;
    color: #FF6F61;
}

.feat {
    font-size: 16px;
}

.page-item {
    border: none;
}

.page-link {
    color: #FF6F61;
    font-weight: 700;
}

.pagination li a {
    color: #ff6f61;
    font-weight: 700;
}

.pagination li {
    margin-left: 10px;
}

.pagination {
    margin-top: 60px;
}

.sale {
    margin-left: 20px;
    font-weight: 500;
}

.progress {
    margin-left: 20px;
    margin-top: 40px;
}

.progress-bar {
    background-color: #FF6F61;
}

.sold {
    opacity: 60%;
}

.btn4 {
    background-color: black;
    color: white;
    height: 55px;
    width: 130px;
    font-weight: 500;
    margin-left: 12px;
}

.btn5 {
    background-color: white;
    color: black;
    height: 55px;
    width: 130px;
    font-weight: 500;
    margin-left: 12px;
}

.hb {
    height: 25px;
    margin-left: 13px;
}

.btndiv {
    margin-top: 40px;
}

.model {
    margin-top: 30px;
}

.sku,
.cat {
    line-height: 11px;
    font-weight: 500;
}

.tags {
    font-weight: 500;
}

.share {
    margin-top: 29px;
}

.share i {
    color: #A0A0A0;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    height: 25px;
    background-color: #F5F5F5;
    padding-top: 3px;
    transition: 300ms;
}

.share i:hover {
    background-color: black;
    color: white;
}

#twt,
#pin {
    margin-left: 10px;
    padding-top: 3px;
}

#share {
    line-height: 10px;
    font-weight: 500;
    text-decoration: underline;
}

.ship {
    color: #767676;
    margin-top: 14px;
}

.ship i {
    margin-top: 10px;
}

.imga {
    height: 122px;
    width: 102px;
    margin-top: 15px;
    margin-right: 17px;
}

#imga {
    margin-left: 39px;
}

.nav {
    margin-top: 35px;
    justify-content: center;
}

.nav-tabs .nav-link {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #FF6F61;
}

.nav button {
    font-weight: 500;
    color: black;
}

.nav button:hover {
    color: #FF6F61;
}

.p6 {
    text-align: center;
    color: #795279;
}

.con-a {
    margin-left: 170px;
}

#m1 {
    padding-left: 110px;
}

table {
    border: 1px solid black;
    margin-left: 380px;
}

table tr {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
    width: 420px;
    height: 35px;
    text-align: center;
}

table th {
    border: 1px solid black;
    width: 150px;
    text-align: center;
    font-weight: 600;
}

.rp {
    text-align: center;
}

/* ********Product Page Ends*************** */


.breadcrumb {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 13px;
    font-weight: 500;
}

.contact {
    text-align: center;
    margin-top: 70px;
    font-size: 32px;
}

#mapmark {
    color: #FF6F61;
    font-size: 23px;
    margin-left: 18px;
}

.call {
    font-weight: 500;
    font-size: 19px;
}

.cust,
.crr {
    font-size: 15px;
    line-height: 26px;
}

.contactdiv {
    display: flex;
    margin-left: 150px;
    margin-top: 95px;
}

.div2 {
    margin-left: 150px;
}

.div2 input[type=text] {
    height: 45px;
    width: 600px;
}

.div2 form input[type=email] {
    height: 45px;
    width: 600px;
    margin-top: 25px;
}

.div2 input[type=number] {
    margin-top: 25px;
    height: 45px;
    width: 600px;
}

#text {
    margin-top: 25px;
}

textarea {
    margin-top: 30px;
    height: 190px;
    width: 600px;
}

.btn7 {
    border: none;
    height: 55px;
    width: 200px;
    background-color: #111111;
    color: white;
}

/* **********Contact Page Ends************** */



.blog {
    text-align: center;
    margin-top: 70px;
    font-size: 32px;
}

.nav-item a {
    color: #111111;
    font-weight: 600;
    font-size: 14px;
    font-family: Jost, Arial, sans-serif;
}

.nav {
    border-bottom: none;
}

.nav-item a:hover {
    color: #ff6f61;
}

.photo1 {
    background-image: url(images/blog3.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo2 {
    background-image: url(images/blog4.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo3 {
    background-image: url(images/blog8.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo4 {
    background-image: url(images/blog9.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo5 {
    background-image: url(images/blog5.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo6 {
    background-image: url(images/blog7.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo7 {
    background-image: url(images/blog2.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}

.photo8 {
    background-image: url(images/blog9.jpg);
    height: 359px;
    width: 529px;
    background-size: cover;
}



.bdg1 {
    background-color: white;
    z-index: 12;
    margin-top: 370px;
    width: 60px;
}

.sea {
    font-size: 22px;
}

.p7 {
    font-size: 15px;
    font-weight: 500;
    color: #525252;
    margin-top: 17px;
}

/* *******Blog Page Ends*************** */


@media screen and (min-width: 320px) and (max-width: 768px) {

    .chairbg {
        width: 100%;
        background-size: 1200px;
        height: 450px;
    }

    .btn {
        height: 100px;
        width: 200px;
        font-size: 15px;
    }

    .rounded-circle {
        display: none;
    }

    .shop {
        font-size: 12px;
        margin-top: 15px;
        margin-right: 10px;
    }

    .icons {
        margin-right: 200px;
    }

    /* .row-cols-3{
    margin-left: 50px;
} */

    .contactdiv {
        flex-direction: column;
    }

    .div1 {
        margin-left: 120px;
    }

    .div2 {
        margin-left: 30px;
    }


    .div2 input[type=text] {
        height: 45px;
        width: 400px;
    }

    .div2 form input[type=email] {
        height: 45px;
        width: 400px;
        margin-top: 25px;
    }

    /* .div2 input[type=number]{
    margin-top: 25px;
    height: 45px;
    width: 600px;
} */

    textarea {
        margin-top: 30px;
        height: 190px;
        width: 400px;
    }

    .btn7 {
        margin-left: 80px;
    }

    .ban3 {
        background-image: url(images/about-us-banner.jpg);
        height: 423px;
        width: 100%;
        margin-left: 10px;
    }

    .fdbg {
        margin-top: 65px;
        background-color: #F5F5F5;
        height: 700px;
        width: 100%;
    }

    .btn3 {
        margin-left: 180px;
    }

    .pinkbg {
        margin-left: 5px;
        width: 100%;
    }

    .p5 {
        font-size: 19px;
    }

    .media {
        display: none;
    }

    .carousel-item p {
        font-size: 16px;
        text-align: center;
        margin-right: 420px;
    }

    .writer {
        margin-right: 390px;
    }

    .icons {
        display: none;
    }

    table {
        width: 100%;
        margin-left: 5px;
    }

    /* #sku{
    margin-right: 20px;
} */

}

@media screen and (min-width: 576px) and (max-width: 623px) {
    .card-body {
        display: none;
    }
}